# Server Configuration
GIN_MODE=release       
PORT=8080             
VERSION=1.0.0            
STATIC_DIR=./static      
DOCUMENT_DIR=./documents
SECURITY_KEY=your-secret-key # Generate with "openssl rand -hex 32"

ACCESS_TOKEN=your-access-token-secret
REFRESH_TOKEN=your-refresh-token-secret




# Database Configuration
DATABASE_URL=postgres://root:root@localhost:5432/gin_postgres # The connection URL for your database

# aws credentails 
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_key
AWS_REGION=us-east-1
SES_SENDER_EMAIL=your-verified-email@example.com
AWS_BUCKET_NAME=cc 

DATABASE_URL=postgres://root:root@localhost:5432/gin_postgres # The connection URL for your database

