<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Verify Registration</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap" rel="stylesheet">
</head>

<body style="margin: 0; padding: 0; font-family: Arial, sans-serif; background-color: #ffffff; color: #000000;">
  <table width="100%" cellpadding="0" cellspacing="0" border="0" style="background-color: #ffffff;">
    <tr>
      <td align="center" style="padding: 40px 20px;">
        <table width="480" cellpadding="0" cellspacing="0" border="0"
          style="max-width: 480px; background-color: #ffffff; color: #353945; border: 1px solid #E6E8EC; padding: 24px; border-radius: 10px; font-family: 'Poppins';">
          <tr>
            <td align="center">
              <h1
                style="color: #111; margin: 0; padding: 20px 0; font-family: 'Roboto'; font-style: normal; font-weight: 600; font-size: 24px; ">
                Verify Your Registration
              </h1>
              <p style="color: #353945; font-size: 16px; margin: 20px 0;">
                Use the code below to complete your registration:
              </p>
              <div
                style="background-color: #3F8CFF; color: #ffffff; padding: 10px 20px; font-size: 32px; font-weight: 700; letter-spacing: 10px; margin: 40px 30px; text-align: center; border-radius: 10px;">
                {{.OTP_CODE}}
              </div>
              <p style="font-size: 14px; line-height: 24px; text-align: left; color: #353945; padding: 0 30px;">
                This code is valid for only 1 hour. Please do not share it with anyone.
                <br />
                If you didn’t initiate this request, feel free to ignore this email.
              </p>
              <hr style="border: 1px solid #E6E8EC; margin: 20px 0;">
              <p style="font-size: 14px; margin: 0; color: #353945;">
                Copyright &copy; 2025. All rights reserved.
              </p>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</body>

</html>